:root {
  --bg-color: #f5f5f5;
  --color-text: #222;
  --color-active-text: rgba(52, 152, 219,.5);
}

:root.dark {
  --bg-color: #333;
  --color-text: #fff;
}

// 尺寸
@mixin size($size) {
  width: $size;
  height: $size;
}

// 向上浮动动画
@keyframes floatUp {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-10px);
  }
}

@mixin center {
  display: flex;
  justify-content: center;
  align-items: center;
}

// 水平居中
@mixin raw_center($layout) {
  display: flex;
  justify-content: center;
  align-items: $layout;
}

// 垂直居中
@mixin column_center($layout) {
  display: flex;
  justify-content: $layout;
  align-items: center;
}

* {
  box-sizing: border-box;
  background-repeat: no-repeat;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

body {
  margin: 0;
  line-height: 1;
}

article,
aside,
footer,
header,
nav,
section,
main,
figcaption,
figure,
menu,
details {
  display: block;
}

audio,
canvas,
video {
  display: inline-block;
}

img {
  display: block;
  border: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

p {
  margin: 0;
  padding: 0;
}

address,
cite,
dfn,
em,
var {
  font-style: normal;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  background-color: transparent;
  color: inherit;
  text-decoration: none;

  &:active,
  &:hover {
    outline: 0;
  }
}

:focus {
  outline: 0;
}

button,
input,
select,
textarea {
  margin: 0;
  font-size: inherit;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  padding: 0;
  border: 0;
  color: inherit;
  background-color: transparent;
  -webkit-appearance: button;
  cursor: pointer;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  padding: 0;
  line-height: normal;

  &::-webkit-input-placeholder {
    font-weight: 300;
  }

  &::-ms-input-placeholder {
    font-weight: 300;
  }

  &::-moz-placeholder {
    font-weight: 300;
  }
}

[type="number"] {
  -moz-appearance: textfield;

  &::-webkit-inner-spin-button,
  &::-webkit-outer-spin-button {
    margin: 0;
    height: auto;
    -webkit-appearance: none;
  }
}

[type="search"] {
  -webkit-appearance: textfield;

  &::-webkit-search-cancel-button,
  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }
}

textarea {
  overflow: auto;
  resize: none;
  -webkit-appearance: none;
}

select {
  -webkit-appearance: none;
  background-color: #fff;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}
