@use "./commom.scss";

html {
  font-size: clamp(14px, 2vw, 20px);
}

.container {
  width: 100vw;
  height: 100vh;
  background-color: var(--bg-color);
  @include commom.raw_center(flex-start);
}

.lz {
  width: 100%;
  max-width: 1200px;
  display: flex;

  .lz_container {
    width: 100%;
    height: 100%;
    padding: 20px;

    nav {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      .logo {
        @include commom.size(50px);
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      ul {
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
        position: relative;
        padding-bottom: 10px;

        li {
          font-size: 1rem;
          color: var(--color-text);
          cursor: pointer;
        }

        div.nav_line {
          position: absolute;
          height: 5px;
          width: 100px;
          background-color: var(--color-text);
          bottom: 0px;
          border-radius: 5px;
          transition: all 0.3s ease-in-out;
        }
      }

      .theme_switch {
        @include commom.size(50px);

        .theme {
          width: 100%;
          height: 100%;
          object-fit: cover;
          cursor: pointer;

          img{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      }
    }
  }
}
